body{
    font-family: "Bebas Neue", sans-serif;
    background: red;
    color: black;
    margin: 8px;
    margin-bottom: 180px;
}
.chamada{
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom; 80px;
}
header{
    color: gray;
    font-size: 35px;
    border-bottom: 3px solid gray;
    padding: 20px;
}
.chamada-texto{
    margin-right: 5%;

}
h1{
    font-size: 16px;
}
.categoria{
     margin-top; 50px;
     padding-left; 20px;
     padding-right; 20px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img.hover{
    opacity: 1.0;
    border: 3px solid blue;
}