body{
    font-family: "Bebas Neue", sans-serif;
    background: red;
    color: black;
    margin: 8px;
    margin-bottom: 180px;
}
.chamada{
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom; 80px;
}