body{
    font-family: "Bebas Neue", sans-serif;
    background: red;
    color: black;
    margin: 8px;
    margin-bottom: 180px;
}
.chamada{
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom; 80px;
}
header{
    color: gray;
    font-size: 35px;
    border-bottom: 3px solid gray;
    padding: 20px;
}
.chamada-texto{
    margin-right: 5%;

}
h1{
    font-size: 16px;
}